  <div id="hover">
  </div>
  <div id="details">
    <div id="detailsTitle"><a id="detailsLink" target="buildDetails"></a></div>
    <div id="detailsDetails"></div>
    <div class="clear"></div>
    <div id="detailsButtons">
      <div id="detailsPrevious"> </div>
      <div id="detailsNext"> </div>
      <div id="detailsClose"> </div>
    </div>
  </div>
  <div id="hints">
    <div id="hintDblClickZoom">double click: zoom in</div>
    <div id="hintPlus">+: zoom in</div>
    <div id="hintMinus">-: zoom out</div>
    <div id="hintEsc">&lt;Esc&gt;: close details</div>
    <div id="hintLeft">&lt;Left&gt;: previous build</div>
    <div id="hintRight">&lt;Right&gt;: next build</div>
  </div>
