  <div id="header">
    <!-- global gnome.org domain bar -->
    <div id="global_domain_bar">
      <div id="header_tabs">
        <div id="user_tab" class="tab">
          <ul>
            {% if page_name != 'home' %}
            <li><a href="/">All Results</a></li>
          {% endif %}
          <li><a href="https://wiki.gnome.org/Projects/GnomeHWTesting/Metrics">Documentation</a></li>
          </ul>
        </div>
        <div id="site_tab" class="tab">
          <a class="root" href="https://www.gnome.org/">GNOME.org</a>
        </div>
      </div>
    </div>
  </div>
